[Desktop Entry]
Name=KXForms
Name[sv]=KX-formulär
Exec=kxforms %i -caption "%c"
Icon=kxforms
Type=Application
X-DocPath=kxforms/kxforms.html
GenericName=XML Form Editor
GenericName[et]=XML-vormide redaktor
GenericName[ga]=Eagarthóir Foirmeacha XML
GenericName[gl]=Editor de formularios XML
GenericName[sv]=XML-formuläreditor
GenericName[uk]=Редактор форм XML
Terminal=false
