[Desktop Entry]
Name=KXForms
Exec=kxforms %i -caption "%c"
Icon=kxforms
Type=Application
X-DocPath=kxforms/kxforms.html
GenericName=XML Form Editor
Terminal=false
