<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="kdummy" version="390">
<MenuBar>
  <Menu name="custom">
    <Action name="custom_action" />
  </Menu>
  <Menu name="help">
    <Action name="update" />
  </Menu>
</MenuBar>
<Toolbar name="editor">
  <text>Editor</text>
  <Action name="toggle_editmode" />
</Toolbar>
</kpartgui>
