<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="kdummy" version="391">
<MenuBar>
  <Menu name="custom"><text>C&amp;ustom</text>
    <Action name="custom_action" />
  </Menu>
  <Menu name="help">
    <Action name="update" />
  </Menu>
</MenuBar>
<Toolbar name="editor">
  <text>Editor</text>
  <Action name="toggle_editmode" />
  <Action name="export_kxform" />
</Toolbar>
</kpartgui>
