[Desktop Entry]
Encoding=UTF-8
Name=KXForms
Name[sv]=Kxforms
Name[x-test]=xxKXFormsxx
Exec=kxforms %i -caption "%c"
Icon=kxforms
Type=Application
DocPath=kxforms/kxforms.html
GenericName=XML Form Editor
GenericName[el]=Επεξεργαστής φόρμας XML
GenericName[es]=Editor de formulario XML
GenericName[it]=Editor di moduli XML
GenericName[ja]=XML フォームエディタ
GenericName[kk]=XML пішін өңдегіші
GenericName[ko]=XML 폼 편집기
GenericName[ne]=XML फाराम सम्पादक
GenericName[nl]=XML-formuliereditor
GenericName[pa]=XML ਫਾਰਮ ਸੰਪਾਦਕ
GenericName[pt]=Editor de Formulários em XML
GenericName[pt_BR]=Editor de Formulários em XML
GenericName[sv]=XML-formuläreditor
GenericName[x-test]=xxXML Form Editorxx
GenericName[zh_CN]=XML 表单编辑器
GenericName[zh_TW]=XML 表單編輯器
Terminal=false
