[Desktop Entry]
Name=KWSDL Compiler
Name[ca]=Compilador KWSDL
Name[cs]=KWSDL kompilátor
Name[da]=KWSDL-oversætter
Name[de]=KWSDL-Compiler
Name[el]=Μεταγλωττιστής KWSDL
Name[es]=Compilador de KWSDL
Name[et]=KWSDL kompilaator
Name[ga]=Tiomsaitheoir KWSDL
Name[gl]=Compilador KWSDL
Name[it]=Compilatore KWSDL
Name[ja]=KWSDL コンパイラ
Name[kk]=KWSDL компиляторы
Name[km]=កម្មវិធី​ចងក្រង KWSDL
Name[ko]=KWSDL 컴파일러
Name[lv]=KWSDL kompilators
Name[nb]=KWSDL-kompilator
Name[nds]=KWSDL-Kompilerer
Name[ne]=KWSDL कम्पाइलर
Name[nl]=KWSDL-compiler
Name[nn]=KWSDL-kompilator
Name[pa]=KWSDL ਕੰਪਾਇਲਰ
Name[pl]=Kompilator KWSDL
Name[pt]=Compilador de KWSDL
Name[pt_BR]=Compilador KWSDL
Name[ru]=Компилятор KWSDL
Name[sl]=Prevajalnik KWSDL
Name[sv]=KWSDL-kompilator
Name[tr]=KWSDL Derleyici
Name[uk]=Компілятор KWSDL
Name[x-test]=xxKWSDL Compilerxx
Name[zh_CN]=KWSDL 编译器
Name[zh_TW]=KWSDL 編譯器
Exec=kdialog --sorry "kwsdl_compiler is a command-line only program.  Please read the handbook at help:/kwsdl_compiler for more info."
Icon=gear
Type=Application
Terminal=false
NoDisplay=true
Categories=Qt;KDE;Development;
