[Desktop Entry]
Name=KWSDL Compiler
Name[de]=KWSDL-Compiler
Name[en_GB]=KWSDL Compiler
Name[es]=Compilador KWSDL
Name[et]=KWSDL kompilaator
Name[fr]=Compilateur KWSDL
Name[ga]=Tiomsaitheoir KWSDL
Name[gl]=Compilador de KWSDL
Name[km]=កម្មវិធី​ចងក្រង KWSDL
Name[nds]=KWSDL-Kompilerer
Name[pt]=Compilador de KWSDL
Name[pt_BR]=Compilador KWSDL
Name[sv]=KWSDL-kompilator
Name[tr]=KWSDL Derleyici
Name[uk]=Компілятор KWSDL
Name[x-test]=xxKWSDL Compilerxx
Exec=kdialog --sorry "kwsdl_compiler is a command-line only program.  Please read the handbook at help:/kwsdl_compiler for more info."
Icon=gear
Type=Application
Terminal=false
NoDisplay=true
Categories=Qt;KDE;Development;
