<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">   
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />    
  <title>Kode - Schema Parser</title>   
  <link rel="stylesheet" href="kode.css" type="text/css" media="screen" />
</head>

<body>

<div id="header">
  <h1>Schema Parser</h1>

  <div id="navigation">
      <ul id="navMain">
        <li class="first-child"><a href="index.html">Home</a></li>
        <li class="current-page">Schema Parser</li>
        <li><a href="xmlcompiler.html">XML Compiler</a></li>
        <li><a href="kxforms.html">KXForms</a></li>
        <li><a href="webservices.html">Web Services</a></li>
        <li><a href="libkode.html">libkode</a></li>
      </ul>
  </div>
</div>

<div id="container">

  <div class="content">

    <div class="introduction">
      <p>Kode contains parsers for XML Schema and RelaxNG. It also has a
      schema language indepent API for representing schema information.</p>
    </div>

  </div>

</div>

<div id="footer">
  <a href="schemaparser.html">Go back to top</a>
</div>

</body>
</html>
